
body {
    display:flex;
    justify-content: center;
    margin: 0;
    background-color: azure;
}

h1 {
    width: 100%;
    color: black;
}
.text {
    font-weight: bold;
    width: 100%;
    border-top: 1px solid gray;
    position:relative;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
    padding: 0 25px 0 25px;
    background-color: bisque;
    /* justify-content: center; */
    /* flex-basis: 50%; */
    color: blue;
}

.container:hover {
    color: black;
}
.container *:hover {
    cursor: pointer;
}

.meme-container {
    /* display: flex;
    flex-wrap: wrap; */
    border-top: 1px solid gray;
    height: 50px;
    width: 100%;
}
.meme-container:hover {
    cursor: pointer;
}

.meme-radio {
    border-top: 1px solid gray;
    appearance: none;
    width: 0;
    margin: 0;
}

.meme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    /* flex-basis: 350px; */
    transition: height 0.1s ease-in-out;
}

img {
    width: 0;
    height: 0;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
}

.text:hover > .meme {
    height: 380px;
}
.text:hover .meme img,
.meme-radio:checked + .text .meme img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.meme-radio:checked + .text {
    color: black;
}

.meme-radio:checked + .text .meme {
    height: 380px;
}

.text:active,
.meme-radio:checked + .text:active {
    opacity: 0.5;
    color: blue;
}


p::after {
    visibility: hidden;
    position: absolute;
    right: 15px;
    content: '\2719';
}

.container:hover p::after {
    visibility: visible;
    content: '\2719';
}

.text:hover p::after {
    visibility: visible;
    content: '\2716';
}

.meme-radio:checked + .text p::after {
    content: '\2716';
}