
body {
    background-color: bisque;
}

h1 {
    width: 100%;
    color: black;
}
.text {
    font-weight: bold;
    width: 100%;
    border-top: 1px solid gray;
}
.container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-basis: 50%; */
    color: blue;
}

.container:hover {
    color: black;
}
.container *:hover {
    cursor: pointer;
}


.meme-container {
    /* display: flex;
    flex-wrap: wrap; */
    border-top: 1px solid gray;
    height: 50px;
    width: 100%;
}
.meme-container:hover {
    cursor: pointer;
}

.meme-radio {
    border-top: 1px solid gray;
    appearance: none;
    width: 0;
    margin: 0;
}

.meme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
}

img {
    width: 0;
    height: 0;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
}

.text:hover > .meme {
    height: 380px;
}
.text:hover .meme img,
.meme-radio:checked + .text .meme img {
    width: 350px;
    height: 350px;
}

.meme-radio:checked + .text {
    color: black;
}

.meme-radio:checked + .text .meme {
    height: 380px;
}

.text:active {
    opacity: 5;
}